* text=auto eol=lf
*.png binary
*.ico binary
*.icns binary
src/bindings.ts linguist-generated=true
pnpm-lock.yaml linguist-generated=true -diff
src-tauri/Cargo.lock linguist-generated=true -diff
CHANGELOG.md linguist-generated=true
